

*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
  font-family:cursive;
  text-align:center;
  color:rgb(255, 254, 254);
  position:absolute;
  top:0px;
  width:100%;
}

h3{
  font-family:cursive;
  text-align:center;
  color:black;
}


body{
  background-image:url('./hotel1.png');

}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:350px;
  height:300px;
  padding:20px;
  border:none;
  border-radius:13px;
  background-color:rgb(158 231 255 / 7%);
  box-shadow: 0px 1px 8px 10px rgba(255,255,255,0.79);
-webkit-box-shadow: 0px 1px 8px 10px rgba(255,255,255,0.79);
-moz-box-shadow: 0px 1px 8px 10px rgba(255,255,255,0.79);

}
.form-content{
  margin-left: 10px;
}

.input-field{
  /*
  margin-left:27px;
  border:1px solid black;
  width:250px;
  cursor:pointer;
  height:15px;
  padding:5px;
  font-family:cursive;
  border-radius:3px;
  */
  width: 90%;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid black;
  
  height: 20px;
  margin: 10px;
}
.input-field:focus{
  outline: none;
}
.text{
  margin: 12px;
  color: aliceblue;

}
#showpassword{
  margin-left: 12px;
}
.btns{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}


button{
  cursor:pointer;
  border:none;
  width:75px;
  height:35px;
  padding:5px;
  
  background-color:rgb(212 249 255);
  opacity: 0.8;
  border-radius:9px;
}
button:hover{
  opacity: 1;
}



p{
  margin-left:80px;
  color:blueviolet;
  text-decoration: none;
  cursor: pointer;

}


footer{
  position:absolute;
  bottom:25px;
  left:50%;
  color:white;
}
